<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nockmarket</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://nodeninja.github.com/book/chapter02/docs.css" rel="stylesheet">
    <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
    <script type="text/javascript" src="http://nodeninja.github.com/book/chapter02/jquery.js"></script>
    <script type="text/javascript" src="http://nodeninja.github.com/book/chapter02/bootstrap-button.js"></script>
    <script type="text/javascript" src="http://nodeninja.github.com/book/chapter02/bootstrap-modal.js"></script>
    <script type="text/javascript" src="http://nodeninja.github.com/book/chapter02/bootstrap-transition.js"></script>
    <script type="text/javascript" src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>

</head>
<body>
<div class="container">
<div class="row">

    <div class="offset2 span8">
        <h3>Tabbable example</h3>

        <p>To make tabs tabbable, create a <code>.tab-pane</code> with unique ID for every tab and wrap them in <code>.tab-content</code>.
        </p>

        <div class="tabbable" style="margin-bottom: 18px;">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Section 1</a></li>
                <li><a href="#tab2" data-toggle="tab">Section 2</a></li>
                <li><a href="#tab3" data-toggle="tab">Section 3</a></li>
            </ul>
            <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
                <div class="tab-pane active" id="tab1">
                    <p>I'm in Section 1.</p>
                </div>
                <div class="tab-pane" id="tab2">
                    <p>Howdy, I'm in Section 2.</p>
                </div>
                <div class="tab-pane" id="tab3">
                    <p>What up girl, this is Section 3.</p>
                </div>
            </div>
        </div>
        <!-- /tabbable -->
    </div>
</div>
</div>

</body>
</html>